<h1>Hello world!</h1>
<pre>Title above is outcome first task:
  - h1 with text 'hello world!'
  -bold font
  -font-family Tahoma
  -color red</pre>


<app-hello [name] = 'getName()' [users]="users" [amount] ="33"/>
<app-name-displayer name="Bogusław"/>
<app-parent />
<hr>
<app-welcome who="Jarek"/>
<app-welcome who="Marek"/>
<app-welcome who="Ogarek"/>
<hr>
<app-dollar-converter [amount]="1" currency="PLN" [rate]="3.86"/>
<app-dollar-converter [amount]="2" currency="PLN" [rate]="3.86"/>
<app-dollar-converter [amount]="5" currency="PLN" [rate]="3.86"/>


<router-outlet />
